.page-header {
  background-image: url(../../assets/images/wave.svg);
  background-position: -724px bottom;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 60px;
  animation: waves 100s ease infinite;
}

.main-title {
  font-weight: bold;
  font-size: 27px;
  letter-spacing: -0.03em;
  color: #fff;
}

@keyframes waves {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 80%;
  }
  100% {
    background-position: 0% 80%;
  }
}
