.page-header {
  background-image: url(../../assets/images/wave.svg);
  background-position: -724px bottom;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 60px;
}

.main-title {
  font-weight: bold;
  font-size: 27px;
  letter-spacing: -0.03em;
  color: #fff;
}
